html { 
  background: url("../img/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#game_border {
  background: url("../img/border.png") no-repeat center center;
  background-size: contain;
  height: 100%;
  width: auto;
  margin: auto;
}

#game_container {
	padding-top: 15%;

  /* position: absolute; */
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: hidden;
}

#game_container canvas {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}